/*Minimize and Close button Styling*/
.close-btn:hover{
 -fx-background-color: #eb1123;
}

.close-btn{
 -fx-background-color: transparent;
}

.min-btn:hover{
 -fx-background-color: #171717;
}

.min-btn{
 -fx-background-color: transparent;
}

/*hamburger Styling*/
.jfx-hamburger-icon StackPane{
  -fx-background-color: white;
}

#D_O_B{
  -fx-text-fill: white;
}
#combo .list-cell{
  -fx-text-fill: white;
  -fx-background-color:  #303138;
  -fx-font-size: 18px;
  -fx-font-family: Gabriola;
   }

#combo .list-cell:hover{
  -fx-background-color:  #303148;
  -fx-cursor: hand;
}